name: landing
description: A new Flutter project.

# Prevent accidental publishing to pub.dev.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.19.3 <3.0.0'
  flutter: 3.7.6

dependencies:
  bot_toast: ^4.0.3
  flutter:
    sdk: flutter
  flutter_animate: ^4.1.0
  flutter_localizations:
    sdk: flutter
  get: ^4.6.5
  google_fonts: ^4.0.3
  responsive_framework: ^0.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    # Add assets from the images directory to the application.
    - assets/images/
